/* KOMETA GQ (kometa.gq) 29.11.2017 (14.05.2019) */
@font-face {font-family: f; src: url(f.eot?) format(eot), url(f.woff) format('woff'), url(f.ttf) format(truetype), url(f.svg) format(svg);}
@font-face {font-family: fh; src: url(fh.eot?) format(eot), url(fh.woff) format(woff), url(fh.ttf) format(truetype), url(fh.svg) format(svg);}
@font-face {font-family: fi; src: url(fi.eot?) format(eot), url(fi.woff) format(woff), url(fi.ttf) format(truetype), url(fi.svg) format(svg);}
@font-face {font-family: fl; src: url(fl.eot?) format(eot), url(fl.woff) format(woff), url(fl.ttf) format(truetype), url(fl.svg) format(svg);}
@font-face {font-family: flm; src: url(flm.eot?) format(eot), url(flm.woff) format(woff), url(flm.ttf) format(truetype), url(flm.svg) format(svg);}
html {height: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body {margin: 0; height: 100%; background: rgb(252,252,252) url(about:blank); font: normal normal normal 15px f, sans-serif; color: rgb(0,0,0); text-align: center;}
@media (min-width: 600px) {body {font-size: 18px;}}
button, form, input, select, textarea {margin: 0; font-size: 100%; text-transform: none;}
a {color: rgb(0,0,252); text-decoration: none; background-color: transparent; -webkit-text-decoration-skip: objects;}
a:hover {text-decoration: underline;}
span {display: inline-block; vertical-align: top; text-align: center;}
strong {font-weight: bolder;}
#h {width: 100%; height: 100%; background: rgb(131,131,131) url(h.jpg) no-repeat center top; background-size: auto 100%; font-family: fh, sans-serif; position: relative;}
@media (min-width: 600px) {#h {background-size: 100% auto;}}
@media (orientation: portrait) {#h {background-size: auto 100%;}}
@media (min-width: 1400px) {#h {background-image: url(h+.jpg);}}
#h .l {position: absolute; left: 5%; top: 9%; width: 90%;}
@media (min-width: 600px) {#h .l {text-align: left;}}
#h .l a {display: inline-block; vertical-align: top; text-align: center;}
#h .l a:hover {text-decoration: none;}
#h .l .d {font-size: 0.83em; letter-spacing: 0.67em; margin-right: -0.6em; _margin-right: -1px; color: rgb(252,252,252);}
#h .l .u {margin-top: 0.4em; font: 1.75em fl, sans-serif; color: rgb(252,252,252); padding-bottom: 0.75em; border-bottom: 2px solid rgb(252,131,0);}
#h .p {position: absolute; left: 5%; bottom: 19%; width: 90%;}
@media (min-width: 600px) {#h .p {bottom: 14%; text-align: right;}}
#h .p .hi {display: inline-block; vertical-align: top; width: 6em; margin-right: 0.31em;}
#h .p .d {margin-top: 2.5em; font-size: 0.5em; color: rgb(252,252,252); vertical-align: baseline; letter-spacing: 1px;}
#h .p .d .m {font: 1em fl, sans-serif; color: rgb(252,252,252); vertical-align: baseline;}
#h .p .r {margin-top: 0.4em; background: rgb(252,252,31); background: rgba(252,252,0,0.75); padding: 0.33em 0.75em 0.4em 0.83em; font-size: 2.25em;}
#q1, #q2, #q3, #q4 {width: 100%; height: 0; padding-bottom: 100%; _padding-bottom: 0;}
@media (min-width: 600px) {#q1, #q2, #q3, #q4 {width: 50%; padding-bottom: 50%; _padding-bottom: 0;}}
#q1 {background: rgb(252,231,210) url(q1.png) no-repeat center; background-size: auto 90%;}
#q2 {background: rgb(252,252,200) url(q2.png) no-repeat center 60%; background-size: auto 90%;}
#q3 {background: rgb(231,231,252) url(q3.png) no-repeat center; background-size: auto 90%;}
#q4 {background: rgb(200,252,200) url(q4.png) no-repeat center; background-size: auto 90%;}
#q1 .vm, #q2 .vm, #q3 .vm, #q4 .vm {padding-top: 100%; vertical-align: middle;}
#q1 .h, #q2 .h, #q3 .h {vertical-align: middle; font-size: 2.5em; letter-spacing: 1px;}
@media (min-width: 600px) {#q1 .h, #q2 .h, #q3 .h {font-size: 3em; letter-spacing: 2px;}}
#q1 .h .b, #q2 .h .b, #q3 .h .b {margin-top: 1em; padding: 1em 2em; font-size: 0.375em; letter-spacing: 1px; background: rgb(252,131,0); color: rgb(252,252,252); border-radius: 3px;}
#q1 .h .b:hover, #q2 .h .b:hover, #q3 .h .b:hover {background: rgb(252,148,0);}
#q4 .f {vertical-align: middle;}
#q4 .f .h {font-size: 1.5em;}
#q4 .f .d {font-size: 0.9em; margin: 1em 0; padding: 0.5em; background: lightyellow}
form {display: inline-block;}
input {padding: 0.2em 0.4em; margin-bottom: 0.5em;}
button {margin: 0.25em 0 0.5em 0; padding: 1em 0; width: 100%; border: 1px solid rgb(0,200,131); background: rgb(0,200,131); color: rgb(252,252,252); border-radius: 3px; cursor: pointer;}
#pr {width: 90%; padding: 9% 5%; background: rgb(240,240,240); text-align: left;}
#g {width: 90%; padding: 9% 5%; background: rgb(240,252,240);}
#ym {width: 100%; height: 56.25%; background: rgb(240,252,240); _display: none;}
@media (min-width: 600px) {#ym {height: 100%;}}
#w {width: 90%; padding: 3.5em 5%; background: gainsboro}
#w .m {margin-top: 2em;}
#w .m, #w .m .d, #w .m a {line-height: 46px; vertical-align: baseline; color: rgb(131,131,131); padding: 2px 0; white-space: nowrap;}
#w .m .d {padding-right: 0.07142857em;}
#w .m a {display: inline-block; font: 1.07142857em flm, sans-serif; color: rgb(0,131,252);}
#w .m a:hover {text-decoration: none; padding-bottom: 0; border-bottom: 2px solid rgb(0,131,252);}
#q1c, #q2c, #q3c, #q4c {position: fixed; _position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(131,131,131,0.67);}
#q1c .h, #q2c .h, #q3c .h, #q4c .h {position: absolute; left: 2.5%; top: 0.75em; width: 75%; padding: 0 10%; background: rgb(252,245,231);}
@media (min-width: 600px) {#q1c .h, #q2c .h, #q3c .h, #q4c .h {top: 1em;}}
#q1c .h .t, #q2c .h .t, #q3c .h .t, #q4c .h .t {font-size: 1.4em; line-height: 2em;}
@media (min-width: 600px) {#q1c .h .t, #q2c .h .t, #q3c .h .t, #q4c .h .t {font-size: 2em; line-height: 2em;}}
#q1c .x, #q2c .x, #q3c .x, #q4c .x {position: absolute; top: 0.75em; right: 2.5%; background: rgb(231,231,231); font-family: fh, sans-serif;}
@media (min-width: 600px) {#q1c .x, #q2c .x, #q3c .x, #q4c .x {top: 1em;}}
#q1c .x .t, #q2c .x .t, #q3c .x .t, #q4c .x .t {display: none;}
@media (min-width: 600px) {#q1c .x .t, #q2c .x .t, #q3c .x .t, #q4c .x .t {display: inline-block; padding-left: 1em; line-height: 4em;}}
#q1c .x .i, #q2c .x .i, #q3c .x .i, #q4c .x .i {font-size: 1.4em; width: 2em;  line-height: 2em;}
@media (min-width: 600px) {#q1c .x .i, #q2c .x .i, #q3c .x .i, #q4c .x .i {display: inline-block; font-size: 4em; line-height: 1em; width: 1em;}}
#q1c .h .x:hover, #q2c .h .x:hover, #q3c .h .x:hover, #q4c .h .x:hover {background: rgb(240,240,240);}
#q1c .c, #q2c .c, #q3c .c, #q4c .c {position: absolute; left: 2.5%; top: 3.55em; bottom: 0.75em; width: 90%; _height: 90%; overflow-y: auto; background: rgb(252,252,252); padding: 2.5%;}
@media (min-width: 600px) {#q1c .c, #q2c .c, #q3c .c, #q4c .c {top: 5em; bottom: 1em;}}
#q1c .c .blu, #q1c .c .bei {width: 100%;}
@media (min-width: 600px) {#q1c .c .blu, #q1c .c .bei {width: 50%;}}
#q1c .c .blu img, #q1c .c .bei img {display: inline-block; vertical-align: top; width: 100%;}
#q1c .c .rm {margin: 5% 0; width: 100%; font: 1.45em fl, sans-serif;}
@media (min-width: 600px) {#q1c .c .rm {font-size: 1.67em;}}

table {border-collapse: collapse; border-spacing: 0; margin: auto;}
td {padding: 0.25em 0; border-bottom: 1px solid rgb(231,231,231); text-align: left; vertical-align: top;}
td.th {border-bottom: 1px solid rgb(200,200,200);}
td.ht {font-size: 1.5em;}
td.d {padding-right: 1em;}
td.v, td.p {text-align: right;}

#q1c .c .r {margin: 0.4em 0 1.4em 0; background: rgb(252,252,131); padding: 0.33em 0.75em 0.4em 0.83em; font-size: 1.75em;}
