/* KOMETA GQ (kometa.gq) 29.11.2017 (11.05.2019) */
@font-face {font-family: f; src: url(f.eot?) format(eot), url(f.woff) format('woff'), url(f.ttf) format(truetype), url(f.svg) format(svg);}
@font-face {font-family: fh; src: url(fh.eot?) format(eot), url(fh.woff) format(woff), url(fh.ttf) format(truetype), url(fh.svg) format(svg);}
@font-face {font-family: fi; src: url(fi.eot?) format(eot), url(fi.woff) format(woff), url(fi.ttf) format(truetype), url(fi.svg) format(svg);}
@font-face {font-family: fl; src: url(fl.eot?) format(eot), url(fl.woff) format(woff), url(fl.ttf) format(truetype), url(fl.svg) format(svg);}
@font-face {font-family: flm; src: url(flm.eot?) format(eot), url(flm.woff) format(woff), url(flm.ttf) format(truetype), url(flm.svg) format(svg);}
html {height: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body {margin: 0; height: 100%; background: rgb(252,252,252) url(about:blank); font: normal normal normal 12px fh, sans-serif; color: rgb(0,0,0); text-align: center;}
@media (min-width: 600px) {body {font-size: 18px;}}
button, form, input, select, textarea {margin: 0; font-size: 100%; text-transform: none;}
a {color: rgb(0,0,252); text-decoration: none; background-color: transparent; -webkit-text-decoration-skip: objects;}
a:hover {text-decoration: underline;}
span {display: inline-block; vertical-align: top; text-align: center;}
strong {font-weight: bolder;}

#h {width: 100%; height: 100%; background: rgb(131,131,131) url(h.jpg) no-repeat center; background-size: auto 100%; font-family: fh, sans-serif; position: relative;}
@media (min-width: 600px) {#h {background-size: 100% auto; background-position: top;}}
#h .l {position: absolute; left: 5%; top: 9%; width: 90%;}
@media (min-width: 600px) {#h .l {text-align: left;}}
#h .l .d {/*font-size: 15px; letter-spacing: 10px; margin-right: -9px; _margin-right: -1px;*/ letter-spacing: 0.67em; margin-right: -0.67em; _margin-right: -1px; color: rgb(252,252,252);}
#h .l .u {margin-top: 9px; font: 31px fl, sans-serif; color: rgb(252,252,252); padding-bottom: 19px; border-bottom: 2px solid rgb(252,131,0);}
#h .p {position: absolute; left: 5%; top: 60%; width: 90%;}
@media (min-width: 600px) {#h .p {text-align: right;}}
#h .p .d {font-size: 11px; color: rgb(252,252,252); vertical-align: baseline; letter-spacing: 1px;}
#h .p .d .m {font: 11px fl, sans-serif; color: rgb(252,252,252); vertical-align: baseline;}
#h .p .r {margin-top: 15px; background: rgb(252,252,31); background: rgba(252,252,0,0.75); padding: 15px 35px 19px 35px; font-size: 31px;}
@media (min-width: 600px) {#h .p .r {font-size: 45px;}}

#q1, #q2, #q3, #q4 {width: 100%; height: 0; padding-bottom: 100%; _padding-bottom: 0;}
@media (min-width: 600px) {#q1, #q2, #q3, #q4 {width: 50%; padding-bottom: 50%; _padding-bottom: 0;}}
#q1 {background: rgb(252,231,210) url(q1.png) no-repeat center; background-size: /*90%*/auto 90%;}
#q2 {background: rgb(252,252,200) url(q2.png) no-repeat center 60%; background-size: /*40%*/auto 90%;}
#q3 {background: rgb(231,231,252) url(q3.png) no-repeat center; background-size: /*40%*/auto 90%;}
#q4 {background: rgb(200,252,200) url(q4.png) no-repeat center; background-size: /*75%*/auto 90%;}
#q1 .vm, #q2 .vm, #q3 .vm, #q4 .vm {padding-top: 100%; vertical-align: middle;}
#q1 .h, #q2 .h, #q3 .h, #q4 .h {vertical-align: middle; font-size: 40px; letter-spacing: 1px;}
@media (min-width: 600px) {#q1 .h, #q2 .h, #q3 .h, #q4 .h {font-size: 60px; letter-spacing: 2px;}}
.h .b {margin-top: 31px; padding: 18px 31px; font-size: 18px; background: rgb(252,131,0); color: rgb(252,252,252);}
.h .b:hover {background: rgb(252,148,0);}

#pr {width: 90%; padding: 9% 5%; background: rgb(240,240,240); text-align: left;}
/*@media (min-width: 600px) {#pr {font-size: 24px;}}*/
#g {width: 90%; padding: 9% 5%; background: rgb(240,252,240);}
@media (min-width: 600px) {#g {font-size: 24px;}}
#ym {width: 100%; height: 75%; _display: none;}
@media (min-width: 600px) {#ym {height: 100%;}}
#w {width: 90%; padding: 3.5em 5%; background: gainsboro}
#w .m {margin-top: 2em;}
#w .m, #w .m .d, #w .m a {line-height: 46px; vertical-align: baseline; color: rgb(131,131,131); padding: 2px 0; white-space: nowrap;}
#w .m .d {padding-right: 0.07142857em;}
#w .m a {display: inline-block; font-family: flm, sans-serif; color: rgb(0,131,252);}
#w .m a:hover {text-decoration: none; padding-bottom: 0; border-bottom: 2px solid rgb(0,131,252);}

#q1c, #q2c, #q3c {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(131,131,131,0.67); font-size: 12px;}
@media (min-width: 600px) {#q1c, #q2c, #q3c, #q4c {font-size: 18px;}}
#q1c .h, #q2c .h, #q3c .h, #q4c .h {position: fixed; left: 2.5%; top: 5%; width: 95%; height: 10%; line-height: 60px; background: rgb(252,245,231); font-size: 45px;}
#q1c .h .x, #q2c .h .x, #q3c .h .x, #q4c .h .x {position: absolute; top: 0; right: 0; background: rgb(231,231,231);}
#q1c .h .x .t, #q2c .h .x .t, #q3c .h .x .t, #q4c .h .x .t {display: none;}
@media (min-width: 600px) {#q1c .h .x .t, #q2c .h .x .t, #q3c .h .x .t, #q4c .h .x .t {display: inline-block; font-size: 12px; vertical-align: middle;}}
#q1c .h .x:hover, #q2c .h .x:hover, #q3c .h .x:hover, #q4c .h .x:hover {background: rgb(240,240,240);}
#q1c .c, #q2c .c, #q3c .c, #q4c .c {position: fixed; left: 2.5%; top: 15%; width: 90%; height: 70%; overflow-y: auto; background: rgb(252,252,252); padding: 2.5%;}
table {border-collapse: collapse; border-spacing: 0; margin: auto; border-top: 1px solid rgb(231,231,231);}
td {padding: 0.5em; border-bottom: 1px solid rgb(231,231,231); text-align: left; vertical-align: top; font-size: 1.5em;}
td.d {padding-right: 1em;}
td.p {text-align: right;}
#q1c .c .blu, #q1c .c .bei {width: 50%;}
#q1c .c .blu img, #q1c .c .bei img {display: inline-block; vertical-align: top; width: 100%;}
#q1c .c .rm {margin: 5% 0; width: 100%; font: 28px fl, sans-serif;}







